<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Deck Of Cards - End to End Testing">
    <test name="Create New Deck and Draw Cards from Deck">
        <classes>
            <class name="com.compugain.deckofcards.apitests.TCCreateNewDeckAndDrawAPI"/>
        </classes>
    </test>
</suite>